<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"      
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.products.dao.mapper.MenuMapper">

	<insert id="addMenu" parameterType="menu" >
		INSERT INTO Menu 
		VALUES(#{treeNode},#{menuName},#{auth})
	</insert>
	
	<update id="updateMenu" parameterType="menu" >
		UPDATE Menu
		SET 
			menuName = #{menuName},
			auth = #{auth}
		WHERE treeNode = #{treeNode}
	</update>
	
	<delete id="delMenu" parameterType="String" >
		DELETE Menu
		WHERE treeNode = #{treeNode}
	</delete>
	
</mapper>