<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"      
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.products.dao.mapper.MenuMapper">

	<insert id="addMenu" parameterType="menu" >
		INSERT INTO Menu 
		VALUES(#{treeNode},#{treeNodeParent},#{menuName},#{auth},#{menuLevel},#{orderNo})
	</insert>
	
	<update id="updateMenu" parameterType="menu" >
		UPDATE Menu
		SET 
			menuName = #{menuName},
			auth = #{auth},
			menuLevel = #{menuLevel},
			orderNo = #{orderNo}
		WHERE treeNode = #{treeNode}
		  AND treeNodeParent = #{treeNodeParent}
	</update>
	
	<delete id="delMenu" parameterType="menu" >
		DELETE Menu
		WHERE treeNode = #{treeNode} and treeNodeParent = #{treeNodeParent}
	</delete>
	
	<select id="getLastOrderNo" parameterType="map" resultType="map">
		SELECT TOP 1
		       treeNode
		     , MAX(menuLevel) as menuLevel
		     , MAX(orderNo) as orderNo
		  FROM Menu
		 WHERE 1=1
		   AND treeNodeParent = #{treeNodeParent}
       GROUP BY treeNode, menuLevel, orderNo
       ORDER BY orderNo DESC
	</select>
	
</mapper>